

#headbanner{
    height:5%;
    padding:0px;
   
}
#headheading{
    position:relative;
    top:-20px;
    color:red;
    font-size:65px;
    text-transform:none;
    font-family:century gothic;
      text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
#nbar1 li a{
    font-weight:bold;
}

#wrap-nav{
    width:100%;
    -moz-box-shadow:    inset 0 0 15px #716d6d;
   -webkit-box-shadow: inset 0 0 15px #716d6d;
   box-shadow:         inset 0 0 15px #716d6d;
   
}
#headpara{
     position:relative;
    top:-25px;
    color:black;
    font-family:century gothic;
    font-weight:bold;
    padding-bottom:0px;
    margin-bottom:0px;
}
#homeslider{
    position:relative;
    top:5px;
}
#hrow1{
    position:relative;
    background:#edf3f5;
    
}
#hpara{
    font-family:century gothic;
    text-align:justify;
    
}
  #hrow2 {
    background: url('../../style/images/cultural.png')no-repeat;   
    background-size:cover;
    min-height:200px;
    height: auto;
    
     border-bottom:2px solid white;
    -webkit-box-shadow: 0 8px 16px -6px black;
     -moz-box-shadow: 0 8px 16px -6px black;
          box-shadow: 0 8px 16px -6px black;
   
    

    }
#wrap-div{
    width:100%;
    background:rgba(0,0,0,0.5);
    min-height:200px;
    height: auto;
}
#dcontent{
     padding-top:30px;
     padding-bottom:30px;
}
#dcontent h3{
    color:white;
}
#hpara2{
    color: white;
    font-family:century gothic;
}
#hrow3{
    margin-bottom:2px;
    border-bottom:2px solid white;
    border-top:2px solid white;
    -webkit-box-shadow: 0 8px 16px -6px black;
     -moz-box-shadow: 0 8px 16px -6px black;
          box-shadow: 0 8px 16px -6px black;
    
}
#hrow4{
    background:#edf3f5;
}
#newshead{
     font-family:century gothic;
     text-transform:none;
     line-height:24px;
}
#foot{
     background: url('../../style/images/back_image.png');   
}

#sfoot{
    background:#4b7d02;
    
}
#footline{
    height:2px;
    position:relative;
    background:white;
    width:100%;
    top:-22px;
}
#foothead{
     font-family:century gothic;
     font-weight:bold;
     color:#4b7d02;
}

#footupperstrip{
    -moz-box-shadow:    inset 0 0 15px #716d6d;
   -webkit-box-shadow: inset 0 0 15px #716d6d;
   box-shadow: inset 0 0 15px #716d6d;
   height:40px;
   background:#4b7d02;
}
#hbox{
    -webkit-box-shadow: 0 8px 16px -6px black;
     -moz-box-shadow: 0 8px 16px -6px black;
          box-shadow: 0 8px 16px -6px black;
}
#aboutr1{
     background: url('../../style/images/section-bg-6.png');   
}
#downloadhead{
     font-family:century gothic;
     font-size:28px;
     vertical-align:central;
     
}